# x86/Docker only
ultralytics==8.4.21
pyyaml==6.0.3
paho-mqtt==2.1.0
requests==2.33.0
ncnn==1.0.20240410

# numpy 2.x — совместим с opencv, librosa, ultralytics
numpy>=2.0,<3
librosa==0.11.0
matplotlib==3.8.4